body {
	background-color: #8CC63F;
}

.red {
	color: red;
}
p, h4 {
	text-align: center;
}
.content-primary {
	padding-bottom: 50px;
}
a.ui-link {
    color: white;
    text-decoration: underline;
	text-decoration-style: dashed;
    text-decoration-color: red;
}

#myPanel {
	background-color: #fbcf9d;
}
